#!/usr/bin/make -f

export VIRTUALENV_ROOT := ${PWD}/build/virtualenvs/mycroft

build_dir = $(PWD)/build
sources = $(filter-out debian,$(filter-out build,$(wildcard *)))
build_artifacts = $(patsubst %,build/%,$(sources))

%:
	dh $@ --parallel

build/%: %
	mkdir -p $(@D)
	cp -r $< $@

override_dh_auto_clean:
	rm -rf build

override_dh_auto_build: $(build_artifacts)
	@echo "high there"
	echo ${WORKON_HOME}
	cd build; ./dev_setup.sh
	cd build; virtualenv --relocatable $(VIRTUALENV_ROOT)
	cd $(VIRTUALENV_ROOT); \
		for bin in `/usr/bin/find . -type f -exec /bin/grep -Iq . {} \; -and -print`; do \
			sed -i 's#$(build_dir)#/opt/mycroft#g' $$bin; \
		done; \
		find . -name *.pyc | xargs rm -fv; \
		find . -name *.pyo | xargs rm -fv

override_dh_auto_install:
	mkdir -p debian/mycroft-core/opt/mycroft/
	cp -rv build/. debian/mycroft-core/opt/mycroft/
	cp -v debian/*.sh debian/mycroft-core/opt/mycroft/

#	mkdir -p debian/mycroft-core/usr/lib/systemd/user/
#	cp -v debian/mycroft-core.service.user debian/mycroft-core/usr/lib/systemd/user/mycroft-core.service
